<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>{% block title %}Blog{% endblock %}</title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js'></script>
    <script type="text/javascript">
      // get SWIG to play with Angular: {{}} to [[]]
      var myApp = angular.module('myApp', [], function ($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
      });
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <section id="content">
      {% block content %}
        <p>Missing content!</p>
      {% endblock %}
    </section>
  </body>
</html>