<!DOCTYPE html>
<html ng-app="Guidebook">
  <head>
    <script src='../vendor/angular.min.js'></script>
    <script src='../scripts/app.js'></script>
    <script src='../scripts/controller/ChapterController.js'></script>
    <script src='../scripts/controller/NotesControllers.js'></script>
    <script src='../scripts/model/NoteModel.js'></script>
    <script src='../scripts/model/ChapterModel.js'></script>
    <script src='../scripts/view/directives/NoteList.js'></script>
    <link href='../styles/style.css' rel='stylesheet'>
    {% block head %}
    {% endblock %}
    <title>AngularJS Starter Guidebook</title>
  </head>
  <body>
    <section id="content">
      {% block content %}
        <p>Missing content!</p>
      {% endblock %}
    </section>
  </body>
</html>